body {
  font-family: $font_roboto;
}
#main {
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;

}
h1 {
  text-transform: uppercase;
}

.img {
  max-width: 100%;
  display: block;
}

.bg-img {
  background-color: $color_white;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  @include bg-size(cover !important);
}

.mask {
  background: $color_overlay;
  height: 100vh;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 2;
}

.btn-main {
  @include btn($color_main, $color_white);
}

.btn-black {
  @include btn($color_base, $color_white);
}

.table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.element-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.logo {
  width: 180px;
}

.tk-container {
  padding: 0 7%;
  @include clearfix;
}

.items-group {
  @include flex();

  &.align-row {
    @include flex-direction(row);
  }

  &.align-column {
    @include flex-direction(column);
  }

  &.align-start {
    @include flex-justify-content(flex-start);
  }

  &.align-end {
    @include flex-justify-content(flex-end);
  }

  &.align-center {
    @include flex-justify-content(center);
  }

  &.flex-wrap {
    @include flex-wrap(wrap);
  }

  &.flex-no-wrap {
    @include flex-wrap(nowrap);
  }

  &.vertical-top {
    @include flex-align-items( flex-start);
  }

  &.vertical-center {
    @include flex-align-items( center);
  }

  &.vertical-bottom {
    @include flex-align-items( flex-end);
  }
}

.fa-facebook {
  color: $color_white;
  @include transition(all .3s ease-in-out);

  &:hover {
    @include transform(scale(1.5));
    color: $color_main;
  }
}

.tk-page {
  background: $color_overlay;
  color: $color_white;
  border-top: 4px solid $color_main;

  .container {
    padding: 30px 15px;
  }

  @media #{$desktop} {
    margin-top: 150px;
  }
}