@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//border radius
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

//box-sizing
@mixin box-sizing($value: border-box) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transition-delay($val1, $val2) {
  -webkit-transition-delay: $val1, $val2;
  -o-transition-delay: $val1, $val2;
  -moz-transition-delay: $val1, $val2;
  transition-delay: $val1, $val2;
}

@mixin transition-property($pos) {
  -webkit-transition-property: $pos, -webkit-transform;
  -moz-transition-property: $pos, -moz-transform;
  -o-transition-property: $pos, -o-transform;
  transition-property: $pos, transform;
}

@mixin transition-duration($val1, $val2) {
  -moz-transition-duration: $val1, $val2;
  -o-transition-duration: $val1, $val2;
  -webkit-transition-duration: $val1, $val2;
  transition-duration: $val1, $val2;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin type-texts($size,$height) {
  font-size: $size;
  line-height: $height;
}

@mixin selectable($value: none) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin bg-size($val) {
  -moz-background-size: $val;
  -o-background-size: $val;
  -webkit-background-size: $val;
  background-size: $val;
}

@mixin animation($value) {
  -moz-animation: $value;
  -o-animation: $value;
  -webkit-animation: $value;
  animation: $value;
}

@mixin btn($bg, $txt) {
  text-decoration: none;
  background: $bg;
  color: $txt !important;
  border: none;
  outline: none;
  @include transition(all 0.3s ease);

  &:hover {
    color: $txt;
    opacity: 0.8;
  }

  &:hover, &:active, &:focus {
    outline: none !important;
  }
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-justify-content($value) {
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  -ms-justify-content: $value;
  -o-justify-content: $value;
  justify-content: $value;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  -o-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-align-items($value) {
  -webkit-align-items: $value;
  -moz-align-items: $value;
  -ms-flex-align: $value;
  -o-align-items: $value;
  align-items: $value;
}

@mixin flex-align-self($value) {
  -webkit-align-self: $value;
  -moz-align-self: $value;
  -ms-align-self: $value;
  -o-align-self: $value;
  align-self: $value;
}