$color_base: #000;
$color_main: #8b0000;
$color_white: #fff;
$color_menu_bg: #373B3C;
$color_overlay: rgba(0,0,0,0.6);

$font_roboto: 'Raleway', sans-serif;
$font_raleway: 'Roboto', sans-serif;

$font_size_base: 14px;
$font_size_header: 16px;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

/*
/* Screen sizes
* ========================================================================== */
$mobile: "only screen and (max-width: #{$screen-xs-max})";
$mobile_and_tablet : "only screen and (max-width: #{$screen-sm-max}) ";
$tablet: "only screen and (min-width:#{$screen-tablet}) and (max-width:#{$screen-sm-max})";
$desktop: "only screen and (min-width:#{$screen-desktop})";
$desktop_small: "only screen and (min-width:#{$screen-desktop}) and (max-width:#{$screen-md-max})";
$desktop_large: "only screen and (min-width:#{$screen-lg-desktop})";