.footer {
  >.newsletter {
    background: $color_main;
    height: 90px;
    min-height: 90px;
    padding-top: 15px;
    padding-bottom: 15px;

    label, h2 {
      color: $color_white;
      text-transform: uppercase;
      font-weight: 400;
      font-size: $font_size_base;
      margin-bottom: 5px;
      margin-top: 0;
    }

    p {
      margin: 0;
    }

    h2, .newsletter-widget {
      display: inline-block;
      height: auto;
      padding: 0;
      max-width: 100%;

      @media #{$mobile} {
        width: 100%;
      }
    }

    .widget_newsletterwidget {
      padding-top: 1px;
    }

    .newsletter-email {
      margin: 10px 25px;
      width: 400px;
      max-width: 100%;
      height: 34px;
      min-height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: $color_white;
      background-image: none;
      border: 1px solid #ccc;
      @include border-radius(4px);
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      @media #{$mobile} {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .newsletter-submit {
      @include btn($color_base, $color_white);
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: $font_size_base;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      @include selectable(none);
      background-image: none;
      border: 1px solid transparent;
      @include border-radius(4px);
    }

    form >* {
      display: inline-block;

      @media #{$mobile} {
        display: block;
        width: 100%;
      }
    }

    .form-control {
      width: 400px;
      display: inline-block;
      max-width: 100%;
      margin: 10px 25px;
    }

    .table-cell {
      width: 100%;
    }
  }

  .footer-bottom {
    background: url('../img/common/footer.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;

    .footer-logo {

      >img {
        margin: 0 auto;
      }
    }

    .footer-mask {
      background: rgba(0,0,0, 0.6);
      height: 100%;
      padding: 50px 0;
    }

    .footer-info {
      padding-top: 50px;
      color: $color_white;
      border-bottom: 1px solid $color_main;
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .fa-map-marker:before {
      color: $color_main;
      font-size: 20px;
    }

    .location {
      margin-bottom: 10px;
    }

    .telephone {
      margin-bottom: 0;
    }

    .fa-facebook {
      font-size: 30px;
    }
  }
}

@media #{$desktop_small} {
  .footer .newsletter {
    label {
      width: 100%;
    }
  }
}

@media #{$mobile} {
  .footer .newsletter {
    .form-control {
      margin: 10px 0;
    }
  }
}