.block-menu {
  $margin: 20px;

  margin-bottom: $margin;
  position: relative;

  .bg-img {
    height: 490px;
    position: relative;
  }

  h1, h2 {
    margin: 0;
  }

  .mn-title {
    color: $color_white;
  }

  .mn-sub-title {
    color: $color_main;
  }

  .category {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $color_white;

    >div {
      background: $color_overlay;
      position: relative;
      cursor: pointer;
      padding: 0;
      z-index: 3;

      .arrow-hover {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -8px;
        @include transform(rotate(45deg));
        background: $color_white;
        opacity: 0;
        @include transition(all 0.3s ease);
      }

      &:hover, &.active {
        .text {
          color: $color_main;
        }
      }

      &.active {
        .arrow-hover {
          opacity: 1;
        }
      }
    }

    .food, .drink {
      padding: 5px 10px;
      
      @media #{$mobile} {
        padding: 5px 10px 15px 10px;
      }

      >div {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .menu-icon >img{
      width: auto;
      height: 52px;
      margin-right: 10px;
    }

    >div:first-child {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: url('../img/content/home/dot.png') no-repeat center center;
        background-size: 100%;
        width: 4px;
      }
    }

    .text {
      text-align: left;
      @include transition(all 0.3s ease);

      >* {
        margin: 0;
      }
    }
  }

  .items {
    padding-top: 10px;
    $height-row:120px;
    visibility: visible;
    opacity: 1;
    >div {
      transition: all 0.5s;
    }
    .hidden {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility 0s, opacity 0.5s linear;
      -moz-transition: visibility 0s, opacity 0.5s linear;
      -ms-transition: visibility 0s, opacity 0.5s linear;
      -o-transition: visibility 0s, opacity 0.5s linear;
      transition: visibility 0s, opacity 0.5s linear;
    }

    @mixin setHeightByNumRow($num-row){
      min-height: $num-row*$height-row;
    }
    .has-1-row {
      @include setHeightByNumRow(1);
    }

    .has-2-row {
      @include setHeightByNumRow(2);
    }

    .has-3-row {
      @include setHeightByNumRow(3);
    }

    .has-4-row {
      @include setHeightByNumRow(4);
    }

    .has-5-row {
      @include setHeightByNumRow(5);
    }

    .has-6-row {
      @include setHeightByNumRow(6);
    }
    >div {
      width: 100%;

      .item {
        margin-top: 20px;
        padding: 0;
        cursor: pointer;

        .item-container {
          height: 100px;
          min-height: 100px;
          border: 1px solid #dddbdb;
          position: relative;
          display: block;
          color: $color_base;
          text-decoration: none;
          @include border-radius(4px);
          @include flex;
          @include transition(all 0.3s ease);
          @include flex-align-items(center);

          &:hover {
            border: 1px solid $color_main;
            /*.hover-text {
              opacity: 1;
            }*/
          }

          .item-thumbnail {
            width: 120px;
            height: 100%;

            img {
              height: 100%;
              min-width: 100px;
              border-radius: 4px;
            }
          }

          .item-info {
            margin-left: 15px;
            flex-grow: 1;
          }

          .item-price {
            width: 120px;
            text-align: center;
          }

          .hover-text {
            position: absolute;
            bottom: 0;
            right: 0;
            background: $color_main;
            color: $color_white;
            padding: 0 5px;
            @include transition(all 0.4s ease);
            //opacity: 0;
          }

          .item-title, .price {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media #{$desktop} {
  .block-menu {
    .items .item {
      &:nth-child(2n + 1) {
        padding-right: 7px;
      }

      &:nth-child(2n) {
        padding-left: 7px;
      }
    }
  }
}

@media #{$mobile_and_tablet} {
  .block-menu {
    .bg-img {
      max-height: 280px;
    }
  }
}

/*
@media only screen and (max-width: 420px) {
  .block-menu .items>div .item .item-container {
    height: auto;
  }

  .block-menu .items>div .item .item-container .item-thumbnail {
    height: auto;
    width: 100%;
  }

  .block-menu .items>div .item .item-container .item-thumbnail img {
    height: auto;
  }

  .block-menu .items>div .item .item-container .item-info {
    margin-left: 0;
    padding: 10px;
  }

}*/
