.block-menu {
  $margin: 20px;

  margin-bottom: $margin;
  position: relative;

  .bg-img {
    height: 490px;
    position: relative;
  }

  h1, h2 {
    margin: 0;
  }

  .mn-title {
    color: $color_white;
  }

  .mn-sub-title {
    color: $color_main;
  }

  .category {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $color_white;

    >div {
      background: $color_overlay;
      position: relative;
      cursor: pointer;
      padding: 0;

      .arrow-hover {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -8px;
        @include transform(rotate(45deg));
        background: $color_white;
        opacity: 0;
        @include transition(all 0.3s ease);
      }

      &:hover, &.active {
        .arrow-hover {
          opacity: 1;
        }

        .text {
          color: $color_main;
        }
      }
    }

    .food, .drink {
      padding: 5px 10px;

      >div {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .menu-icon >img{
      width: auto;
      height: 52px;
      margin-right: 10px;
    }

    >div:first-child {
      border-right: 1px dotted $color_white;
    }

    .text {
      text-align: left;
      @include transition(all 0.3s ease);

      >* {
        margin: 0;
      }
    }
  }

  .items {
    padding-top: 10px;

    >div {
      width: 100%;

      .item {
        margin-top: 20px;
        padding: 0;
        cursor: pointer;

        .item-container {
          height: 80px;
          min-height: 80px;
          border: 1px solid #dddbdb;
          position: relative;
          @include border-radius(4px);
          @include flex;
          @include transition(all 0.3s ease);
          align-items: center;

          &:hover {
            border: 1px solid $color_main;
            .hover-text {
              opacity: 1;
            }
          }

          .item-thumbnail {
            width: 120px;
            height: 100%;

            img {
              height: 100%;
              border-radius: 4px 0 0 4px;
            }
          }

          .item-info {
            margin-left: 10px;
            flex-grow: 1;
          }

          .item-price {
            width: 120px;
            text-align: center;
          }

          .hover-text {
            position: absolute;
            bottom: 0;
            right: 0;
            background: $color_main;
            color: $color_white;
            padding: 0 5px;
            @include transition(all 0.4s ease);
            opacity: 0;
          }
        }
      }
    }
  }
}

@media #{$desktop} {
  .block-menu {
    .items .item {
      &:nth-child(2n + 1) {
        padding-right: 7px;
      }

      &:nth-child(2n) {
        padding-left: 7px;
      }
    }
  }
}