.about-page, .default-page {
  padding: 30px 15px;

  >div {
    padding: 0 15px;
  }

  .about-img, .page-img {
    max-width: 50%;
  }
}

@media #{$mobile} {
  .about-page.items-group, .default-page.items-group {
    display: block;

    .about-img, .page-img {
      max-width: 100%;
      text-align: center;
    }
  }
}