.contact-page {
  margin-top: 150px;
  background: $color_overlay;

  .contact-info {
    color: $color_white;
  }

  .contact-map {
    padding: 30px 0;
  }

  @media #{$desktop} {
    h2 {
      margin-top: 0;
    }
  }
}

.contact-form-container {

  .wpcf7 {

    h2 {
      color: $color_main;
      margin-bottom: 20px;
    }

    form >p {
      margin-bottom: 15px;
    }

    .wpcf7-response-output {
      display: none !important;
    }
  }
}


#gMap {
  height: 350px;
  background-color: none !important;
}